DATABASE_URI="sqlite:///database.db"
SECRET_KEY="YouShouldChangeThisSecretKeyToSomethingLongAndRandom"
ENV="development"
ASCEND_RAPIDAPI_KEY=""
ASCEND_RAPIDAPI_HOST="edb-with-videos-and-images-by-ascendapi.p.rapidapi.com"
